*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 77, 91);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  border-top: 48px solid black;
  border-left: 48px solid black;
  border-right: 48px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: none;
  outline: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 30px;
  background-color: white;
  border: 1px solid #333;
}

.whiteActive {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), pink);
  border: 2px solid purple;
  border-top: none;
}

.black {
  --width: 18px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.blackActive {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), pink);
  border: 2px solid purple;
  border-top: none;
}
