*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 77, 91);
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.titleContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: 'The blacklist';
  color: white;
  font-size: 136px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid white;
}

.motto {
  margin-top: 22px;
  font-family: 'DK Lemon Yellow Sun';
  color: yellow;
  font-size: 68px;
}

.startButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: 'DK Lemon Yellow Sun';
  color: white;
  border: 2px solid white;
  font-size: 32px;
  padding: 18px 32px;
  font-weight: 900;
  border-radius: 35px;
  &:hover {
    background-color: yellow;
		color: rgb(56, 77, 91);
    border: 2px solid yellow;
	}
}

.teacherContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noteToPlay {
  font-family: 'DK Lemon Yellow Sun';
  color: white;
  border-bottom: 1px solid white;
  font-size: 72px;
}

.noteWePlay {
  font-family: 'DK Lemon Yellow Sun';
  color: white;
  font-size: 72px;
}

.piano {
  border-top: 48px solid black;
  border-left: 48px solid black;
  border-right: 48px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: none;
  outline: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  &:active {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), pink);
    border: 2px solid purple;
    border-top: none;
  }
}

.white {
  --width: 30px;
  background-color: white;
  border: 1px solid #333;
}

.black {
  --width: 18px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.active {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), pink);
  border: 2px solid purple;
  border-top: none;
}

.navbar {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  color: white;
  font-family: 'DK Lemon Yellow Sun';
  padding-top: 20px;
  padding-right: 20px;
}

.navbarRight {
  width: 25%;
  direction: ltr;
  text-align: right;
  float: right;
  font-size: 32px;
  font-weight: 900;

}

.navbarLeft {
  width: 75%;
  direction: rtl;
  text-align: left;
  float: left;
  font-size: 32px;
  font-weight: 900;
}

.link {
  margin-left: 20px;
  padding-bottom: 8px;
  &:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
  }
}
